extends layout

block content
    //- Main page Header
    header(class="blog-header py-3")
        div(class="row flex-nowrap justify-content-between align-items-center")
            div(class="col-4 pt-1")
                a(class="text-muted" href="#") Подписаться
            div(class="col-4 text-center")
                a(class="blog-header-logo text-dark" href="/") My Blog
            div(class="col-4 d-flex justify-content-end align-items-center")
                a(class="text-muted" href="#" aria-label="Search")
                    svg(xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false")
                        title Search
                        circle(cx="10.5" cy="10.5" r="7.5")
                        path(d="M21 21l-5.2-5.2")
                div(class="btn-group")
                    if token
                        a(href="/logout" class="btn btn-outline-secondary") Выйти
                    else
                        a(href="/login" class="btn btn-outline-secondary") Войти

    //- Sorted by Theme
    div(class="nav-scroller py-1 mb-2")
        nav(class="nav d-flex justify-content-between")
            a(class="p-2 text-muted" href="/theme/Новости") Новости
            a(class="p-2 text-muted" href="/theme/Личное") Личное
            a(class="p-2 text-muted" href="/theme/Путешествия") Путешествия
            a(class="p-2 text-muted" href="/theme/Животные") Животные
            a(class="p-2 text-muted" href="/theme/Галерея") Галерея
            a(class="p-2 text-muted" href="/theme/Природа") Природа
            a(class="p-2 text-muted" href="/theme/Политика") Политика
            a(class="p-2 text-muted" href="/theme/Спорт") Спорт
            a(class="p-2 text-muted" href="/theme/Техонологии") Техонологии
    
    //- This button visible for Admin only
    div(class="container")
        if token
            a(href="/addpost" class="btn btn-success") Добавить новый пост

    
    //- Iterate Database articles
    main(role="main" class="container")
        div(class="row")
            div(class="col-md-12 blog-main")
                h3(class="pb-4 mb-4 font-italic border-bottom") Свежие записи
                div(class="blog-post")
                    each elem in post
                        h2(class="blog-post-title justify-content-between")= elem.head
                        if token
                            span(style="display: inline-flex;")
                                form(action="/delete" method="POST")
                                    input(type="hidden" value=elem._id name="id")
                                    button(class="btn btn-danger btn-sm" type="submit") Удалить
                                form(action="/edit" method="POST")
                                    input(type="hidden" value=elem._id name="id")
                                    button(class="btn btn-warning btn-sm" type="submit") Редактировать
                        - var options = { day: "numeric", weekday: "long", month: "long", year: "numeric" }
                        p(class="blog-post-meta")= elem.date.toLocaleString('en-US', options) + ' ' + ' по теме '
                            a(href="/theme/"+elem.theme)= elem.theme
                        pre(class="blog-text")= elem.text